/* Mobile */
@media screen and (max-width: 480px) {
    #navbar li {
        display: none;
    }

    #navbar #logo {
        display: flex;
    }

    #bottom-header-inner a {
        display: none;
    }

    #bottom-header-inner .btn {
        display: flex;
    }

    #main-content {
        padding: 0 2rem;
    }

    #main-content #subtitle {
        font-size: 2.5rem;
    }
}
